/* ---------- Responsive Design ---------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* ================================================ */

    /* ================ HOME PAGE ================ */

    /* ---------- Content 1 ---------- */

    #sb-content-1{
        margin: 10% 0;
    }

    /* .sb-content-1-row{
        flex-direction: column-reverse;
    } */
    
    .sb-heading-content-1{
        margin-top: 14%;
        align-content: center;
        text-align: center;
    }
    
    .sb-heading-content-1 h1{
        color: #000000;
        font-size: 35px;
        font-weight: 700;
        line-height: 55px;
    }
    
    .sb-heading-content-1 p{
        margin: 8% 0 0;
        font-size: 18px;
    }
    
    .sb-image-content-1{
        margin: 12% 0 0;
    }
    
    .sb-image-content-1 .image-content-1{
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    

    /* ---------- End Content 1 ---------- */


    /* ---------- Content 2 ---------- */

    #sb-content-2{
        margin: 18% 0;
        position: relative;
    }
    
    #sb-content-2 .sb-dot-vector-1{
        display: none;
    }
    
    #sb-content-2 .sb-dot-vector-2{
        display: none;
    }
    
    .sb-heading-content-2{
        text-align: center;
        align-items: center;
    }
    
    .sb-heading-content-2 h5{
        color: #4B56D2;
        font-weight: 700;
        font-size: 20px;
    }
    
    .sb-heading-content-2 h1{
        color: #000000;
        font-weight: 700;
        font-size: 30px;
    }

    .sb-card-feature{
        margin: 6% 0 0;
    }
    
    .sb-card-feature .card-icon{
        margin: 6% 0;
    }
    
    .sb-card-feature .card-icon .sb-apparel{
        padding: 5px;
        width: 60px;
        height: 60px;
        background: #4B56D2;
        border-radius: 100%;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }
    
    .sb-card-feature .card-icon .sb-packaging{
        padding: 5px;
        width: 60px;
        height: 60px;
        background: #FFEA8D;
        border-radius: 100%;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }
    
    .sb-card-feature .card-icon .sb-catalog{
        padding: 5px;
        width: 60px;
        height: 60px;
        background: #DF6765;
        border-radius: 100%;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }
    
    .sb-card-feature .card-icon .sb-tutorial{
        padding: 5px;
        width: 60px;
        height: 60px;
        background: #99DBC7;
        border-radius: 100%;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }

    .sb-card-feature .card-title{
        font-weight: 600;
        font-size: 18px;
        margin: 4% 0 4%;
    }
    
    .sb-card-feature .card-description{
        font-weight: 400;
        font-size: 18px;
        margin: 2% 0;
    }

    /* ---------- End Content 2 ---------- */


    /* ---------- Content 3 ---------- */

    #sb-content-3{
        margin: -10% 0;
    }

    /* .sb-content-3-row{
        flex-direction: column-reverse;
    } */
    
    .sb-image-content-3 .image-content-3{
        display: block;
        margin: 8% auto;
        max-width: 100%;
        /* display: none; */
    }
    
    .sb-heading-content-3{
        margin: 8% 0 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .sb-circle-content-3{
        display: none;
    }
    
    .sb-heading-content-3 h1{
        font-size: 35px;
        font-weight: 700;
        position: relative;
        z-index: 1;
    }
    
    .sb-circle-content-3{
        position: absolute;
        left: 0;
        padding: 0px 34px;
        border-radius: 50%;
        background: #4B56D2;
    }
    
    .sb-heading-content-3 p{
        margin: 8% 0 0;
        font-size: 18px;
    }
    
    .sb-heading-content-3 .btn-start{
        margin-top: 8%;
        padding: 10px 60px;
        background: #4B56D2;
        color: #FFFFFF;
        font-weight: 500;
    }
    

    /* ---------- End Content 3 ---------- */


    /* ---------- Content 4 ---------- */

    #sb-content-4{
        margin: 24% 0;
    }
    
    .sb-heading-content-4 h5{
        color: #4B56D2;
        font-weight: 700;
        font-size: 20px;
    }
    
    .sb-heading-content-4 h1{
        color: #000000;
        font-weight: 700;
        font-size: 30px;
    }
    
    .sb-image-content-4{
        margin-top: 6%;
        width: 100%;
        height: 400px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    

    /* ---------- End Content 4 ---------- */


    /* ---------- Content 5 ---------- */

    #sb-content-5{
        margin: -8% 0 0;
    }

    .sb-heading-content-5 h1{
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        text-align: justify;
    }
    
    .sb-heading-content-5 span{
        color: #4B56D2;
    }
    
    .sb-description-content-5 p{
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
    }

    .sb-introduction-content-5{
        margin: 4% 0;
    }
    
    .sb-introduction-content-5 .youtube-content{
        width: 100%;
        height: 300px;
    }

    /* ---------- End Content 5 ---------- */


    /* ---------- Content 6 ---------- */

    #sb-content-6{
        margin: 6% 0;
    }
    
    .sb-heading-content-6 h1{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .sb-heading-content-6 p{
        margin: 2% 0 0;
        text-align: center;
    }

    .accordion{
        margin: 6% 0 0;
    }

    /* ---------- End Content 6 ---------- */


    /* ---------- Content 7 ---------- */

    #sb-content-7{
        margin: 10% 0 0;
        background: #4B56D2;
        max-height: 100%;
    }

    /* .sb-row-conclusion{
        display: none;
    } */
    
    .sb-about-us{
        margin: 4% 0 0;
        justify-content: start;
    }
    
    .sb-about-us h1{
        font-size: 36px;
        color: #FFFFFF;
        font-weight: 700;
    }
    
    .sb-about-us p{
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 400;
        text-align: justify;
    }
    
    .sb-navigation{
        display: none;
    }
    
    .sb-contact-us{
        margin: 5% 0 0;
    }
    
    .sb-contact-us h4{
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
    }
    
    .icon-contact p{
        display: inline-block;
        color: #FFFFFF;
        margin-left: 4%;
        align-items: center;
    }
    
    .sb-contact-us i{
        padding: 3px 6px;
        font-size: 20px;
        color: #FFFFFF;
        border-radius: 100%;
        border: 1px solid #FFFFFF;
    }
    
    #sb-content-7 hr{
        border: 1px solid #FFFFFF;
    }
    
    .sb-copyright{
        margin: 1% 0 2% 0;
        align-items: center;
        align-content: center;
    }
    
    .sb-copyright h6{
        color: #FFFFFF;
        font-size: 12px;
        text-align: center;
    }
    
    .sb-media-social .icon{
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .sb-media-social i {
        margin-left: 4%;
        margin-bottom: 6%;
        font-size: 20px;
        color: #FFFFFF;
        height: 32px;
        width: 32px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        text-align: center;
    }

    /* ---------- End Content 7 ---------- */

    /* ================ END HOME PAGE ================ */

    /* ================================================ */
    
    
    /* ================================================ */

    /* ================ COLLECTION PAGE ================ */

    /* ---------- Content Seacrh ---------- */

    #sb-search-bar{
        margin: 30% 0 0;
    }

    .sb-search-group{
        width: 100%;
    }

    /* ---------- End Content Seacrh ---------- */


    /* ---------- Content Categories ---------- */

    #sb-categories hr{
        width: 60%;
    }

    /* ---------- End Content Categories ---------- */

    
    /* ---------- Content Related Products ---------- */
    
    #sb-related-products hr{
        width: 60%;
    }
    
    /* ---------- End Content Related Products ---------- */

    /* ================ END COLLECTION PAGE ================ */

    /* ================================================ */

}

/* ---------- End Responsive Design ---------- */