@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
}

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    box-shadow: 0px 1px 25px rgba(167, 166, 174, 0.1);
    background: #FFFFFF;
}

.nav-brand{
    color: #000;
    font-weight: 800;
    font-size: 30px;
}

.nav-item{
    margin-right: 20px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    list-style: none;

}

.nav-item:hover{
    font-weight: 600;
    color: #000000;
}

.btn-authentication{
    padding: 5px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

/* ---------- End Navbar ---------- */


/* =========================================================================== */

/* ================================ HOME PAGE ================================ */

/* ---------- Content 1 ---------- */

#sb-content-1{
    margin: 4% 0;
}

.sb-heading-content-1{
    margin-top: 14%;
}

.sb-heading-content-1 h1{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
}

.dropship-style{
    padding: 2px;
    background: #D4D7FB;
    border: 2px solid #4B56D2;
    border-radius: 10px;
    color: #4B56D2;
}

.sb-heading-content-1 p{
    margin: 8% 0 0;
    font-size: 18px;
}

.sb-heading-content-1 .btn-start{
    margin-top: 4%;
    padding: 10px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

.sb-image-content-1{
    margin: 4% 0 0;
}

.sb-image-content-1 .image-content-1{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ---------- End Content 1 ---------- */


/* ---------- Content 2 ---------- */

#sb-content-2{
    margin: 8% 0;
    position: relative;
}

#sb-content-2 .sb-dot-vector-1{
    position: absolute;
    z-index: -1;
    left: 0;
}

#sb-content-2 .sb-dot-vector-2{
    position: absolute;
    z-index: -1;
    right: 0;
}

.sb-heading-content-2{
    text-align: center;
    align-items: center;
}

.sb-heading-content-2 h5{
    color: #4B56D2;
    font-weight: 700;
    font-size: 20px;
}

.sb-heading-content-2 h1{
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}

.sb-card-feature{
    margin: 20% 0 0;
    text-align: center;
    align-items: center;
    height: 90%;
}

.sb-card-feature .card-icon{
    margin: 6% 0;
}

.sb-card-feature .card-icon .sb-apparel{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #4B56D2;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-packaging{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #FFEA8D;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-catalog{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #DF6765;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-tutorial{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #99DBC7;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-title{
    font-weight: 600;
    font-size: 18px;
    margin: 8% 0 8%;
}

.sb-card-feature .card-description{
    font-weight: 400;
    font-size: 18px;
    margin: 2% 0;
}

/* ---------- End Content 2 ---------- */


/* ---------- Content 3 ---------- */

#sb-content-3{
    margin: 4% 0 0;
}

.sb-image-content-3 .image-content-3{
    max-width: 100%;
    display: block;
    left: 0;
}

.sb-heading-content-3{
    margin: 25% 0 0;
}

.sb-heading-content-3 h1{
    font-size: 48px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.sb-circle-content-3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background: #4B56D2;
}

.sb-heading-content-3 p{
    margin: 8% 0 0;
    font-size: 18px;
}

.sb-heading-content-3 .btn-start{
    margin-top: 8%;
    padding: 10px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

/* ---------- End Content 3 ---------- */


/* ---------- Content 4 ---------- */

#sb-content-4{
    margin: 10% 0 0;
}

.sb-heading-content-4{
    text-align: center;
    align-items: center;
}

.sb-heading-content-4 h5{
    color: #4B56D2;
    font-weight: 700;
    font-size: 20px;
}

.sb-heading-content-4 h1{
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}

.sb-image-content-4{
    margin-top: 6%;
    width: 100%;
    height: 400px;
}

/* ---------- End Content 4 ---------- */


/* ---------- Content 5 ---------- */

#sb-content-5{
    margin: 8% 0 0;
}

.sb-heading-content-5 h1{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
}

.sb-heading-content-5 span{
    color: #4B56D2;
}

.sb-description-content-5 p{
    font-size: 18px;
    font-weight: 400;
}

.sb-introduction-content-5{
    margin: 4% 0;
}

.sb-introduction-content-5 .youtube-content{
    width: 100%;
    height: 540px;
}

/* ---------- End Content 5 ---------- */


/* ---------- Content 6 ---------- */

#sb-content-6{
    margin: 4% 0;
}

.sb-heading-content-6 h1{
    font-size: 30px;
    font-weight: 700;
}

.accordion{
    border: 1px solid #C8C8C8;
}

/* ---------- End Content 6 ---------- */


/* ---------- Content 7 ---------- */

#sb-content-7{
    margin: 10% 0 0;
    background: #4B56D2;
    max-height: 100%;
}

.sb-about-us{
    margin: 4% 0 0;
    justify-content: start;
}

.sb-about-us h1{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
}

.sb-about-us p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: justify;
}

.sb-navigation{
    margin: 5% 0 0;
    display: block;
}

.sb-navigation h4{
    text-align: center;
}

.sb-navigation a{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    display: block;
    text-align: center;
}

.sb-navigation h4{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.sb-contact-us{
    margin: 5% 0 0;
}

.sb-contact-us h4{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.icon-contact p{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 4%;
    align-items: center;
}

.sb-contact-us i{
    padding: 3px 6px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
}

#sb-content-7 hr{
    border: 1px solid #FFFFFF;
}

.sb-copyright{
    margin: 1% 0 2% 0;
    align-items: center;
    align-content: center;
}

.sb-copyright h6{
    color: #FFFFFF;
    font-size: 12px;
}

.sb-media-social .icon{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.sb-media-social i {
    margin-left: 4%;
    font-size: 20px;
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}

/* ---------- End Content 7 ---------- */

/* ================================ END HOME PAGE ================================ */

/* =========================================================================== */


/* =========================================================================== */

/* ================================ COLLECTION PAGE ================================ */


/* ---------- Content Seacrh ---------- */

#sb-search-bar{
    margin: 10% 0 0;
}

.sb-search-col{
    display: flex;
    justify-content: center;
}

.sb-search-group{
    width: 60%;
}

.sb-search-control{
    background: #FFFFFF;
    height: 50px;
    border: 1px solid #000000;
}

/* ---------- End Content Seacrh ---------- */


/* ---------- Content Categories ---------- */

#sb-categories{
    margin: 4% 0 0;
}

#sb-categories h1{
    font-size: 20px;
    font-weight: 600;
}

#sb-categories hr{
    width: 20%;
    border: 1px solid #4B56D2;
}

.sb-categories-type{
    height: 90%;
    transition: 0.2s all ease-in-out;
}

.sb-categories-type:hover{
    cursor: pointer;
    transform: translateY(-6px);
}

.sb-categories-body{
    display: flex;
    align-items: center;
}

.sb-categories-title{
    align-items: center;
    font-size: 18px;
}

/* ---------- End Content Categories ---------- */

#sb-related-products{
    margin: 4% 0 0;
}

#sb-related-products h1{
    font-size: 20px;
    font-weight: 600;
}

#sb-related-products hr{
    width: 20%;
    border: 1px solid #4B56D2;
}

/* ---------- Content Related Products ---------- */



/* ---------- End Content Related Products ---------- */

/* ================================ END COLLECTION PAGE ================================ */

/* =========================================================================== */