@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    position: relative;
}

/* ---------- Navbar ---------- */

.navbar{
    padding: 10px 0;
    box-shadow: 0px 1px 25px rgba(167, 166, 174, 0.1);
    background: #FFFFFF;
}

.nav-brand{
    color: #000;
    font-weight: 800;
    font-size: 30px;
}

.nav-item{
    margin-right: 20px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    list-style: none;

}

.nav-item:hover{
    font-weight: 600;
    color: #000000;
}

.active{
    margin-right: 20px;
    color: #000000;
    font-weight: 600;
    border-bottom: 2px solid #000;
    text-decoration: none;
    list-style: none;
}

.btn-authentication{
    padding: 5px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

/* ---------- End Navbar ---------- */


/* =========================================================================== */

/* ================================ HOME PAGE ================================ */

/* ---------- Content 1 ---------- */

#sb-content-1{
    margin: 4% 0;
}

.sb-heading-content-1{
    margin-top: 14%;
}

.sb-heading-content-1 h1{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
}

.dropship-style{
    padding: 2px;
    background: #D4D7FB;
    border: 2px solid #4B56D2;
    border-radius: 10px;
    color: #4B56D2;
}

.sb-heading-content-1 p{
    margin: 8% 0 0;
    font-size: 18px;
}

.sb-heading-content-1 .btn-start{
    margin-top: 4%;
    padding: 10px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

.sb-image-content-1{
    margin: 4% 0 0;
}

.sb-image-content-1 .image-content-1{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ---------- End Content 1 ---------- */


/* ---------- Content 2 ---------- */

#sb-content-2{
    margin: 8% 0;
    position: relative;
}

#sb-content-2 .sb-dot-vector-1{
    position: absolute;
    z-index: -1;
    left: 0;
}

#sb-content-2 .sb-dot-vector-2{
    position: absolute;
    z-index: -1;
    right: 0;
}

.sb-heading-content-2{
    text-align: center;
    align-items: center;
}

.sb-heading-content-2 h5{
    color: #4B56D2;
    font-weight: 700;
    font-size: 20px;
}

.sb-heading-content-2 h1{
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}

.sb-card-feature{
    margin: 20% 0 0;
    text-align: center;
    align-items: center;
    height: 90%;
}

.sb-card-feature .card-icon{
    margin: 6% 0;
}

.sb-card-feature .card-icon .sb-apparel{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #4B56D2;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-packaging{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #FFEA8D;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-catalog{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #DF6765;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-icon .sb-tutorial{
    padding: 5px;
    width: 60px;
    height: 60px;
    background: #99DBC7;
    border-radius: 100%;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.sb-card-feature .card-title{
    font-weight: 600;
    font-size: 18px;
    margin: 8% 0 8%;
}

.sb-card-feature .card-description{
    font-weight: 400;
    font-size: 18px;
    margin: 2% 0;
}

/* ---------- End Content 2 ---------- */


/* ---------- Content 3 ---------- */

#sb-content-3{
    margin: 4% 0 0;
}

.sb-image-content-3 .image-content-3{
    max-width: 100%;
    display: block;
    left: 0;
}

.sb-heading-content-3{
    margin: 25% 0 0;
}

.sb-heading-content-3 h1{
    font-size: 48px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.sb-circle-content-3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background: #4B56D2;
}

.sb-heading-content-3 p{
    margin: 8% 0 0;
    font-size: 18px;
}

.sb-heading-content-3 .btn-start{
    margin-top: 8%;
    padding: 10px 60px;
    background: #4B56D2;
    color: #FFFFFF;
    font-weight: 500;
}

/* ---------- End Content 3 ---------- */


/* ---------- Content 4 ---------- */

#sb-content-4{
    margin: 10% 0 0;
}

.sb-heading-content-4{
    text-align: center;
    align-items: center;
}

.sb-heading-content-4 h5{
    color: #4B56D2;
    font-weight: 700;
    font-size: 20px;
}

.sb-heading-content-4 h1{
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}

.sb-image-content-4{
    margin-top: 6%;
    width: 100%;
    height: 400px;
}

/* ---------- End Content 4 ---------- */


/* ---------- Content 5 ---------- */

#sb-content-5{
    margin: 8% 0 0;
}

.sb-heading-content-5 h1{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
}

.sb-heading-content-5 span{
    color: #4B56D2;
}

.sb-description-content-5 p{
    font-size: 18px;
    font-weight: 400;
}

.sb-introduction-content-5{
    margin: 4% 0;
}

.sb-introduction-content-5 .youtube-content{
    width: 100%;
    height: 540px;
}

/* ---------- End Content 5 ---------- */


/* ---------- Content 6 ---------- */

#sb-content-6{
    margin: 4% 0;
}

.sb-heading-content-6 h1{
    font-size: 30px;
    font-weight: 700;
}

.accordion{
    border: 1px solid #C8C8C8;
}

/* ---------- End Content 6 ---------- */


/* ---------- Content 7 ---------- */

#sb-content-7{
    margin: 10% 0 0;
    background: #4B56D2;
    max-height: 100%;
}

.sb-about-us{
    margin: 4% 0 0;
    justify-content: start;
}

.sb-about-us h1{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
}

.sb-about-us p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: justify;
}

.sb-navigation{
    margin: 5% 0 0;
    display: block;
}

.sb-navigation h4{
    display: flex;
    justify-content: center;
}

.sb-navigation a{
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    display: block;
    text-align: center;
}

.sb-navigation h4{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.sb-contact-us{
    margin: 5% 0 0;
}

.sb-contact-us h4{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
}

.icon-contact p{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 4%;
    align-items: center;
}

.sb-contact-us i{
    padding: 3px 6px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
}

#sb-content-7 hr{
    border: 1px solid #FFFFFF;
}

.sb-copyright{
    margin: 1% 0 2% 0;
    align-items: center;
    align-content: center;
}

.sb-copyright h6{
    color: #FFFFFF;
    font-size: 12px;
}

.sb-media-social .icon{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.sb-media-social i {
    margin-left: 4%;
    font-size: 20px;
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}

/* ---------- End Content 7 ---------- */


/* ---------- Content 8 ---------- */

.floating-wpp {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    transition: bottom 0.2s;
    z-index: 1000;
}

.floating-wpp .floating-wpp-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
    position: absolute;
    width: 50px;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.floating-wpp:hover {
    bottom: 17px;
}

.floating-wpp:hover .floating-wpp-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
    /*border: 2px solid white;*/
    border-radius: 6px;
    background-color: #E5DDD5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
    width: 0px;
    height: 0px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
    transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
    padding: 0 12px 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
    background-color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    opacity: 1;
    transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
    text-align: right;
    color: white;
    margin: 0 -15px 10px -15px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
    background-color: white;
    margin: 10px -15px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.floating-wpp .floating-wpp-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer;
}

/* ---------- End Content 8 ---------- */

/* ================================ END HOME PAGE ================================ */

/* =========================================================================== */


/* =========================================================================== */

/* ================================ COLLECTION PAGE ================================ */


/* ---------- Content Seacrh ---------- */

#sb-search-bar{
    margin: 10% 0 0;
}

.sb-search-col{
    display: flex;
    justify-content: center;
}

.sb-search-group{
    width: 60%;
}

.sb-search-control{
    background: #FFFFFF;
    height: 50px;
    border: 1px solid #000000;
}

/* ---------- End Content Seacrh ---------- */


/* ---------- Content Categories ---------- */

#sb-categories{
    margin: 4% 0 0;
}

#sb-categories h1{
    font-size: 20px;
    font-weight: 600;
}

#sb-categories hr{
    width: 20%;
    border: 1px solid #4B56D2;
}

.sb-categories-type{
    height: 90%;
    transition: 0.2s all ease-in-out;
}

.sb-categories-type:hover{
    cursor: pointer;
    transform: translateY(-6px);
}

.sb-categories-body{
    display: flex;
    align-items: center;
}

.sb-categories-title{
    align-items: center;
    font-size: 18px;
}

/* ---------- End Content Categories ---------- */


/* ---------- Content Related Products ---------- */

#sb-related-products{
    margin: 4% 0;
}

#sb-related-products h1{
    font-size: 20px;
    font-weight: 600;
}

#sb-related-products hr{
    width: 40%;
    border: 1px solid #4B56D2;
}

.sb-products{
    border: none;
    transition: 0.3s all ease-in-out;
    height: 100%;
}

.sb-products:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sb-products-title{
    font-size: 16px;
    font-weight: 600;
    height: 50%;
}

.sb-products-price{
    font-size: 16px;
    font-weight: 500;
    color: #4B56D2;
}

/* ---------- End Content Related Products ---------- */

/* ================================ END COLLECTION PAGE ================================ */

/* =========================================================================== */


/* =========================================================================== */

/* ================================ DETAIL PAGE ================================ */

#sb-product-detail .sb-product-image{
    margin-top: 20%;
}

#sb-product-detail .product-image{
    height: auto;
    width: 100%;
}

.product-preview{
    background-color: #FFFFFF;
    z-index: 100;
    opacity: 1;
}

#sb-product-detail .product-image-preview{
    margin: 60% 4% 0;
    height: 80px;
    width: 80px;
}

#sb-product-detail .product-image-preview:hover{
    cursor: pointer;
}

#sb-product-detail .sb-description-detail{
    margin: 12% 0 0;
}

#sb-product-detail .sb-description-detail h1{
    font-size: 24px;
}

#sb-product-detail .sb-product-price p{
    margin: 4% 0;
    font-size: 20px;
    font-weight: 500;
    color: #4B56D2;
}

#sb-product-detail .sb-product-materials p{
    margin: 4% 0;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

#sb-product-detail .sb-product-color p{
    margin: 4% 0;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

#sb-product-detail .sb-product-attention p:nth-child(1){
    margin: 4% 0;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

#sb-product-detail ul{
    margin: 4% 0;
    left: -3%;
}

.sb-size-chart{
    margin: 4% 0 0;
}

.size-chart-responsive{
    display: none;
}

.sb-size-chart p{
    margin: 2% 0;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

/* ================================ END DETAIL PAGE ================================ */

/* =========================================================================== */


/* =========================================================================== */

/* ================================ CONTACT US PAGE ================================ */

#get-in-touch h3{
    margin: 12% 0 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

#get-in-touch hr{
    width: 12%;
    display: block;
    margin: 2% auto 0;
    border: 2px solid #4B56D2;
}

.icon-contact-address{
    margin: 12% 0 0;
}

.icon-contact-address h6{
    margin: 0 0 2% 0;
}

.icon-contact-address i{
    font-size: 22px;
    margin: 0 4% 0 0;
}

.icon-contact-address p{
    display: inline-block;
}

.icon-media-social{
    margin: 4% 0 0;
}

.icon-media-social h6{
    margin: 0 0 2% 0;
}

.icon-media-social i{
    font-size: 22px;
    margin: 0 4% 0 0;
}

.geo-map{
    margin: 6% 0 0;
    height: 41%;
    width: 82%;
    border: 1px #000 solid;
}

.geo-map h6{
    text-align: center;
}

.message-me{
    margin: 12% 0 0;
}

.message-name{
    margin: 6% 0 0;
}

.input-name{
    background: #E6E4E0;
    border: none;
    height: 50px;
}

.message-email{
    margin: 6% 0 0;
}

.input-email{
    background: #E6E4E0;
    border: none;
    height: 50px;
}

.message-criticism{
    margin: 6% 0 0;
}

.input-criticism{
    background: #E6E4E0;
    border: none;
}

.message-button-send{
    margin: 6% 0 0;
}

.button-send{
    width: 100%;
    background: #4B56D2;
    font-weight: 500;
}

.button-send:hover{
    background: #4B56D2;
}



/* ================================ END CONTACT US PAGE ================================ */

/* =========================================================================== */